<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <tree-root #tree [nodes]="nodes">
    <ng-template #treeNodeTemplate let-node>
      <span title="{{node.data.name}}">{{ node.data.name }}</span>
      <button [hidden]="showHide(node.data.name)" (click)="addNode(node, 'Manager')">Manager</button>
      <button [hidden]="showHide(node.data.name)" (click)="addNode(node, 'Developer')">Developer</button>
      <button [hidden]="showHide(node.data.name)" (click)="addNode(node, 'QA')">QA</button>
    </ng-template>
  </tree-root>
  <div class="total">
    ${{total}}
  </div>
</div>